.about-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #AEAFB1
}


@media only screen and (max-width: 600px) {
    .about-canvas {
        display: flex;
        flex: 1;
    }
    .canvas-class {
        display: flex;
        flex: 1;
    }
}