.contact-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(223,224,226,1) 25%, rgba(255,255,255,1) 66%);
}

.bg-purple {
    color: #fff;
    background: -webkit-linear-gradient(110deg, #dfe0e2 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #AEAFB1 70%, #7F8082 70%);
    background: -o-linear-gradient(110deg, #dfe0e2 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #AEAFB1 70%, #7F8082 70%);
    background: -moz-linear-gradient(110deg, #dfe0e2 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #AEAFB1 70%, #7F8082 70%);
    background: linear-gradient(110deg, #dfe0e2 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #AEAFB1 70%, #7F8082 70%);
}

.contact-page-content {
    display: flex;
    flex-direction: row;
}

.contact-desc-box {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    color: #303841;
    padding: 20px;
}

.contact-desc p:first-of-type {
    font-family:'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 55px;
}

.contact-desc p {
    font-family:'Montserrat', sans-serif;
    font-size: 35px;
    margin-bottom: 0;
}

.contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.contact-info a {
    color: #313942;
    text-decoration: none;
    font-family:'Montserrat', sans-serif;
    font-weight: bolder;
    width: 100%;
}

.contact-info a:hover {
    text-decoration: none;
    color: black;
}

.contact-icon {
    padding-bottom: 30px;
    padding-right: 20px;
}

@media only screen and (max-width: 600px) {
    .contact-page-content {
        display: flex;
        flex-direction: column;
    }
    .contact-desc p:first-of-type {
        font-family:'Montserrat', sans-serif;
        font-weight: bolder;
        font-size: 45px;
    }
    .contact-desc p {
        font-family:'Montserrat', sans-serif;
        font-size: 20px;
        margin-bottom: 0;
    }
}