html, body {
    background-color: #DFE0E2;
}

.index-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(223,224,226,1) 25%, rgba(255,255,255,1) 66%);
}

.bg-purple {
    color: #fff;
    background: -webkit-linear-gradient(110deg, #dfe0e2 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #AEAFB1 70%, #7F8082 70%);
    background: -o-linear-gradient(110deg, #dfe0e2 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #AEAFB1 70%, #7F8082 70%);
    background: -moz-linear-gradient(110deg, #dfe0e2 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #AEAFB1 70%, #7F8082 70%);
    background: linear-gradient(110deg, #dfe0e2 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #AEAFB1 70%, #7F8082 70%);
}

.main-heading {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.main-heading h1, h2 {
    color: #303841;
}

.main-heading h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.main-heading h2 {
    margin-top: 10px;
    letter-spacing: 1.5px;
}

.what-we-do {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.project-list-1 {
    display: flex;
    flex-direction: row;
}

.box1 {
    flex: 1;
    height: 400px;
    width: 100%;
    background-color: #303841;
    color: #e2e2e2;
    padding: 10px;
}

.box2 {
    flex: 1;
    height: 400px;
    width: 100%;
    background-color: #C13447;
    color: #e2e2e2;
    padding: 10px;
}

.project-list-2 {
    display: flex;
    flex-direction: row;
}

.box3 {
    flex: 1;
    height: 400px;
    width: 100%;
    background-color: #666766;
    color: #e2e2e2;
    padding: 10px;
}
.box4 {
    flex: 1;
    height: 400px;
    width: 100%;
    background-color: #3e4e59;
    color: #e2e2e2;
    padding: 10px;
}

.box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    padding: 10px;
}

.box-content p {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.box-content h1 {
    font-family: 'Source Serif Pro', serif;
}

@media only screen and (max-width: 600px) {
    .main-heading h1 {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .main-heading h2 {
        margin-top: 10px;
        letter-spacing: 1.5px;
        font-size: 20px;
    }
    .project-list-1 {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .box1 {
        height: 100%;
        width: 100%;
        background-color: #303841;
        color: #e2e2e2;
        padding: 10px;
    }
    .box2 {
        height: 100%;
        width: 100%;
        background-color: #C13447;
        color: #e2e2e2;
        padding: 10px;
    }
    .project-list-2 {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .box3 {
        height: 100%;
        width: 100%;
        background-color: #666766;
        color: #e2e2e2;
        padding: 10px;
    }
    .box4 {
        height: 100%;
        width: 100%;
        background-color: #3e4e59;
        color: #e2e2e2;
        padding: 10px;
    }
    .box-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
        padding: 50px;
    }
}