html, body {
    background-color: #f7f9fa;
}

.index-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-heading {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center; 
}