html, body {
    background-color: #f7f9fa;
}

.main-heading {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center; 
}